// enable conda and docker
conda.enabled          = true
docker.enabled         = true

// rosetta emulations for install
conda.createOptions    = "--subdir osx-64"

// set cpus to be 1 less than the max available
def total_cpus = Runtime.runtime.availableProcessors()
def safe_cpus  = Math.max(1, total_cpus - 1)

// custom connfigs for each
process {
    // default resources for all processes
    cpus   = safe_cpus
    memory = '8 GB'

    // reduce trimmo cpu needs
    withName: TRIM_READS {
        cpus = Math.max(1, 4)
    }

    // reduce quality cpu needs so it can start with skesa
    withName: CHECK_QUALITY {
        cpus = Math.max(1, 2)
    }

    // up the memory for skesa, and cap the cpus at another -3 (or floor 1) to let fastQC start
    withName: ASSEMBLE_SKESA {
        memory = '12 GB'
        cpus = Math.max(1, total_cpus - 4)
    }

    // docker config for MLST
    withName: RUN_MLST {
        container = 'staphb/mlst:latest'
    }
}

